Intellidocs.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate
Intellidocs.xcodeproj/project.xcworkspace/xcuserdata/avantihiremath.xcuserdatad/UserInterfaceState.xcuserstate
Intellidocs.xcodeproj/project.xcworkspace/xcuserdata/avantihiremath.xcuserdatad/WorkspaceSettings.xcsettings
Intellidocs.xcodeproj/xcuserdata/avantihiremath.xcuserdatad/xcschemes/Intellidocs.xcscheme
Intellidocs.xcodeproj/xcuserdata/avantihiremath.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints.xcbkptlist
